<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2015/09/17/16/40/book-944462__340.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Como crear un proyecto en Angular</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nostrum, facere et voluptate velit enim amet reiciendis eum maiores ducimus! Ad, molestiae quisquam ullam sequi beatae earum similique quidem sed.
          Aperiam corporis quaerat in ipsa unde, eaque maiores fugit esse amet inventore laboriosam praesentium nobis quis libero repudiandae animi ipsam aliquid id at quam reiciendis molestiae laborum. Eius, quibusdam a!</p>
        </div>
      </div>
    </div>
  </div>
</div>