<div class="row">
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">
        <span class="badge bg-info">1</span>
        inscripcion para la licencia de conduccion abono 1 millon (pago con tarjeta de credito a 1 cuota) </h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-danger text-capitalize">gasto hormiga</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>

  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">
        <span class="badge bg-info">1</span>
        inscripcion para la licencia de conduccion abono 1 millon (pago con tarjeta de credito a 1 cuota) </h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-danger text-capitalize">gasto hormiga</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">
        <span class="badge bg-info">1</span>
        inscripcion para la licencia de conduccion abono 1 millon (pago con tarjeta de credito a 1 cuota) </h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-danger text-capitalize">gasto hormiga</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">
        <span class="badge bg-info">1</span>
        inscripcion para la licencia de conduccion abono 1 millon (pago con tarjeta de credito a 1 cuota) </h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-danger text-capitalize">gasto hormiga</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">
        <span class="badge bg-info">1</span>
        inscripcion para la licencia de conduccion abono 1 millon (pago con tarjeta de credito a 1 cuota) </h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-danger text-capitalize">gasto hormiga</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">
        <span class="badge bg-info">1</span>
        inscripcion para la licencia de conduccion abono 1 millon (pago con tarjeta de credito a 1 cuota) </h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-danger text-capitalize">gasto hormiga</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">
        <span class="badge bg-info">1</span>
        inscripcion para la licencia de conduccion abono 1 millon (pago con tarjeta de credito a 1 cuota) </h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-danger text-capitalize">gasto hormiga</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">
        <span class="badge bg-info">1</span>
        inscripcion para la licencia de conduccion abono 1 millon (pago con tarjeta de credito a 1 cuota) </h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-danger text-capitalize">gasto hormiga</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">
        <span class="badge bg-info">1</span>
        inscripcion para la licencia de conduccion abono 1 millon (pago con tarjeta de credito a 1 cuota) </h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-danger text-capitalize">gasto hormiga</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">
        <span class="badge bg-info">1</span>
        inscripcion para la licencia de conduccion abono 1 millon (pago con tarjeta de credito a 1 cuota) </h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-danger text-capitalize">gasto hormiga</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">
        <span class="badge bg-info">1</span>
        inscripcion para la licencia de conduccion abono 1 millon (pago con tarjeta de credito a 1 cuota) </h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-danger text-capitalize">gasto hormiga</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-info">1</span> Almuerzos</h5>
      <p class="card-text">{{17000|currency}}</p>
      <p class="card-text"><i class="bi bi-calendar-day-fill text-success"></i> Abril 26 del 2022</p>
      <span class="badge bg-success text-capitalize">gasto fijo</span>
    </div>
  </div>
</div>

<nav aria-label="Page navigation example mt-3">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>