<div class="card">
  <div class="card-header">
    Registrar Gasto
  </div>
  <div class="card-body">
    <form [formGroup]="formExpense" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="date" class="form-label">Fecha</label>
        <input type="date" class="form-control" id="date" formControlName="date">
      </div>
      <div class="form-group">
        <label for="type_expense" class="form-label">Tipo de gasto</label>
        <input type="text" class="form-control" id="type_expense" formControlName="type_expense">
      </div>
      <!-- <div class="form-group">
        <label for="type_expense" class="form-label">Tipo de gasto</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div> -->
      <div class="form-group">
        <label for="count" class="form-label">Cantidad</label>
        <input type="text" class="form-control" id="count" formControlName="count">
      </div>
      <div class="form-group">
        <label for="name_expense" class="form-label">Nombre del gasto</label>
        <input type="text" class="form-control" id="name_expense" formControlName="name_expense">
      </div>
      <div class="form-group">
        <label for="price_unit" class="form-label">Precio unidad</label>
        <input type="text" class="form-control" id="price_unit" formControlName="price_unit">
      </div>
      <div class="form-group">
        <label for="price_total" class="form-label">Precio total</label>
        <input type="text" class="form-control" id="price_total" formControlName="price_total" placeholder="Precio total">
      </div>
      <div>
        <input type="submit" value="Enviar" class="btn btn-primary mt-1 col-sm-5 m-2">
      </div>
    </form>
  </div>
</div>
