<!-- <app-header></app-header> -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <a class="navbar-brand text-dark" href="#">{{title}}</a>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/customers">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/prospects">Prospectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/expenses">Gastos</a>
      </li>
    </ul>
    Tienes: <span class="buy">{{count_employees}}</span> clientes
    <div class="col-md-2">
      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
    </div>
    <div class="col-md-1 cursor" style="cursor: pointer;">
      <i class="bi bi-person-fill text-dark" style="font-size: x-large;"></i>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <i class="i bi-lightbulb text-warning" style="font-size: 30px;"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ver mas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/users">Usuarios</a></li>
            <li><a class="dropdown-item" routerLink="/customers">Clientes</a></li>
            <li><a class="dropdown-item" routerLink="/prospects">Prospectos</a></li>
            <li><a class="dropdown-item" routerLink="/expenses">Gastos</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <!-- <app-create-expenses></app-create-expenses> -->
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>
