$primary: white;
nav {
  // background-color: #dcdc1a!important;
  background-color: $primary!important;
  height: 5.5rem;
}
.buy {
    background-color: aliceblue;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-weight: bold;
}

input {
  border-radius: 1rem;
}