nav {
  background-color: #dcdc1a!important;
  height: 3.5rem;
}
.buy {
    background-color: aliceblue;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-weight: bold;
}