<div class="row py-5 px-4">
  <div class="col-md-8 mx-auto">
    <!-- Profile widget -->
    <div class="bg-white shadow rounded overflow-hidden">
      <div class="px-4 pt-0 pb-4 cover">
        <div class="media align-items-end profile-head row">
          <div class="profile mr-3">
            <!-- <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="John Hernandez" width="130" class="rounded mb-2 img-thumbnail"> -->

            <!-- <img src="../../../assets/img/foto.jpg" alt="John Hernandez" width="130" class="rounded mb-2 img-thumbnail"> -->

            <img src="https://scontent.feoh3-1.fna.fbcdn.net/v/t39.30808-6/271638441_5129889017030904_7189990162999623387_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeHMxXR3KKVfyUOup9QIsezJyCdybi-cdOzIJ3JuL5x07EJlX3U1Y8BwSvR9NYbF4OWD3ySpZURQ0c_smTWpK5ON&_nc_ohc=LsEog-88WFAAX_edE8q&_nc_ht=scontent.feoh3-1.fna&oh=00_AT8PxuXTXBC8AZoq0ugVQ2bvGR6fI_ywMUlOn6Iq5I4hVA&oe=62678FF9" alt="John Hernandez" width="130" class="rounded mb-2 img-thumbnail">
            
          </div>
          <div class="media-body mb-5 text-white">
            <h4 class="mt-0 mb-0">John A. Hernandez</h4>
            <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>j.ahr@hotmail.com</p>
          </div>
        </div>
      </div>
      <div class="bg-light p-4 d-flex justify-content-end text-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">😳</h5><small class="text-muted"> <i
                class="fas fa-image mr-1"></i>Angular</small>
          </li>
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">🤫</h5><small class="text-muted"> <i
                class="fas fa-image mr-1"></i>React</small>
          </li>
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">😉</h5><small class="text-muted"> <i
                class="fas fa-user mr-1"></i>Node</small>
          </li>
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">😊</h5><small class="text-muted"> <i
                class="fas fa-user mr-1"></i>SQL</small>
          </li>
        </ul>
      </div>
      <div class="px-4 py-3">
        <h5 class="mb-0">Acerca de mi</h5>
        <div class="p-4 rounded shadow-sm bg-light">
          <p class="font-italic mb-0">Software Developer</p>
          <p class="font-italic mb-0">Vivo en Bogotá</p>
          <p class="font-italic mb-0">¿Me invitas un café ? ☕ 😳 😳</p>
        </div>
        <div class="p-4 rounded shadow-sm bg-light">
          <p class="font-italic mb-0">Si exploras esta pagina veras una pequeña parte de mi trabajo, puedes agregar datos pero recuerda que estos no quedarán guardados. Desarrollada en Angular, deja un comentario</p>
        </div>
      </div>
      <div class="py-4 px-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h5 class="mb-0">Recent photos</h5><a href="#" class="btn btn-link text-muted">Show all</a>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-2 pr-lg-1"><img
              src="https://images.unsplash.com/photo-1469594292607-7bd90f8d3ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
              alt="" class="img-fluid rounded shadow-sm"></div>
          <div class="col-lg-6 mb-2 pl-lg-1"><img
              src="https://images.unsplash.com/photo-1493571716545-b559a19edd14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
              alt="" class="img-fluid rounded shadow-sm"></div>
          <div class="col-lg-6 pr-lg-1 mb-2"><img
              src="https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
              alt="" class="img-fluid rounded shadow-sm"></div>
          <div class="col-lg-6 pl-lg-1"><img
              src="https://images.unsplash.com/photo-1475724017904-b712052c192a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
              alt="" class="img-fluid rounded shadow-sm"></div>
        </div>
      </div>
    </div>
  </div>
</div>