<div class="row">
  <div *ngIf="!cutomers.length" class="alert alert-warning">
    <i>No existen clientes registrados </i>
  </div>
  <div class="card m-1 pt-2 col-sm-12" *ngFor="let item of cutomers">
    <div class="body">
      <div class="row">
        <div class="col-sm-3 center">
          <div class="img">
            <img src={{item.link_image}} class="rounded float-left"
              alt="Perfil">
          </div>
        </div> 
        <div class="col-sm-9">
          <p class="text-capitalize"><b>name: </b> {{item.name}}</p>
          <p class="text-capitalize"><b>surname: </b> {{item.surname}}</p>
          <p class="text-capitalize"><b>company: </b> {{item.company}}</p>
          <p class="text-capitalize"><b>phone: </b> {{item.phone}}</p>
          <p class="text-capitalize"><b>email: </b> {{ item.email }}</p>
          <p class="text-capitalize"><b>estado: </b>Activo</p>
        </div>
      </div>
    </div>
  </div>
</div>